MatanColloc04.aux
DefinicionClases.sty
MatanColloc04.fdb_latexmk
MatanColloc04.fls
MatanColloc04.loe
MatanColloc04.log
MatanColloc04.out
MatanColloc04.synctex.gz
MatanColloc04.toc
MatanColloc04.upa
MatanColloc04.upb
MatanColloc04.pdf
.MatanColloc04.fls.icloud  
MatanColloc04\ 2.fls 